<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>角色管理</title>
	<link rel="shortcut icon" href="../images/main/favicon.ico" />
	<style>
		.roles{
			width:400px;
			height:300px;
			border:solid 2px #777;
		}
		#role > div{
			float: left;
		}
		a{
			text-decoration: none;
			color : black
		}
		.bg-gray{
			background-color: #aaa;
		}
	</style>
</head>

<body>
	<div id="role">
		<!-- <p>所有菜单项</p> -->
		<div class='roles'>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
				<tr v-for="(role,index) of allRoles" :class="role.bgGray?'bg-gray':'no-class'">
					<td>
						<a 	@click.prevent.exact="commonClick(role.id,index,true)"
							@click.prevent.shift.exact="shiftClick(role.id,index,true)">{{role.description}}</a>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<button @click="addToRight">添加至右边</button>
			<button @click="addAllToRight">全部添加至右边</button>
			<button @click="removeFromRight">从右边移除</button>
			<button @click="submitNewRoles">提交</button>
		</div>
		<!-- <p>该角色拥有菜单项</p> -->
		<div class='roles'>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr v-for="(role,index) of userRoles" :class="role.bgGray?'bg-gray':'no-class'">
					<td>
						<a 	@click.prevent.exact="commonClick(role.id,index,false)"
							@click.prevent.shift.exact="shiftClick(role.id,index,false)">{{role.description}}</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/seek.global.js"></script>
<script src="user-role.js"></script>
